In [4]:
import pandas as pd
import matplotlib as plt

import plotly as plt

pd.options.plotting.backend = "plotly"
import plotly.io as pio
pio.renderers.default = "browser"
import plotly.graph_objects as go

In [190]:
column = [
            "chrom", "exon_start", "exon_end", "gene",
            "transcript", "exon", "cov_start", "cov_end", "cov"
        ]


sample1 = pd.read_csv('/home/jethro/Projects/athena/test/annotated_beds/2302858-23074Z0010-1-BM-MPD-MYE-M-EGG2_S1_L001_markdup_annotated_bed.tsv.gz',names=column, sep='\t')

sample1 = sample1[sample1['gene']=='ANKRD26']
sample1 = sample1[sample1['exon'] == 1]

# sample1 = sample1.iloc[:10].reset_index(drop=True)
sample1 = sample1.rename(columns={'cov': 'S1'})

sample2 = pd.read_csv('/home/jethro/Projects/athena/test/annotated_beds/2302867-23075Z0089-1-PB-MPD-MYE-F-EGG2_S2_L001_markdup_annotated_bed.tsv.gz',names=column, sep='\t')

sample2 = sample2[sample2['gene']=='ANKRD26']
sample2 = sample2[sample2['exon'] == 1]

# sample2 = sample2.iloc[:10].reset_index(drop=True)
sample2 = sample2.rename(columns={'cov': 'S2'})

sample3 = pd.read_csv('/home/jethro/Projects/athena/test/annotated_beds/2302871-23075Z0092-1-BM-MPD-MYE-M-EGG2_S3_L001_markdup_annotated_bed.tsv.gz',names=column, sep='\t')

sample3 = sample3[sample3['gene']=='ANKRD26']
sample3 = sample3[sample3['exon'] == 1]

# sample3 = sample3.iloc[:10].reset_index(drop=True)
sample3 = sample3.rename(columns={'cov': 'S3'})

sample1.reset_index(drop=True, inplace=True)    
sample2.reset_index(drop=True, inplace=True)
sample3.reset_index(drop=True, inplace=True)


samples = sample1.copy()
samples['S2'] = sample2[['S2']]
samples['S3'] = sample3['S3']

samples.iloc[:402]

/tmp/ipykernel_429253/2437919683.py:7: DtypeWarning:

Columns (1,2,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.

/tmp/ipykernel_429253/2437919683.py:15: DtypeWarning:

Columns (1,2,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.

/tmp/ipykernel_429253/2437919683.py:23: DtypeWarning:

Columns (1,2,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.

,chrom,exon_start,exon_end,gene,transcript,exon,cov_start,cov_end,S1,S2,S3
0,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100079,27100080,1453,1496,1373
1,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100080,27100081,1454,1504,1376
2,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100081,27100082,1463,1502,1384
3,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100082,27100083,1467,1517,1390
4,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100083,27100085,1472,1522,1404
...,...,...,...,...,...,...,...,...,...,...,...
397,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100492,27100493,1117,1186,1088
398,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100493,27100494,1116,1185,1084
399,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100494,27100495,1111,1182,1076
400,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100495,27100496,1107,1176,1075
401,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100496,27100497,1109,1178,1056

In [86]:
samples[['S1', 'S2', 'S3']].stack().mean()

1913.398252184769

In [81]:
samples[['S1', 'S2', 'S3']].mean().mean()

1520.7

In [191]:
samples['mean'] = samples[['S1', 'S2', 'S3']].mean(axis=1).round()
samples['std'] = samples[['S1', 'S2', 'S3']].std(axis=1).round()
samples['mean-std'] = samples['mean'] - samples['std']
samples['mean+std'] = samples['mean'] + samples['std']

samples.rename(columns={'S1': 'S1_norm'},inplace=True)
samples['S1'] = samples['S1_norm'] * 1.3

samples

,chrom,exon_start,exon_end,gene,transcript,exon,cov_start,cov_end,S1_norm,S2,S3,mean,std,mean-std,mean+std,S1
0,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100079,27100080,1453,1496,1373,1441.0,62.0,1379.0,1503.0,1888.9
1,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100080,27100081,1454,1504,1376,1445.0,65.0,1380.0,1510.0,1890.2
2,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100081,27100082,1463,1502,1384,1450.0,60.0,1390.0,1510.0,1901.9
3,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100082,27100083,1467,1517,1390,1458.0,64.0,1394.0,1522.0,1907.1
4,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100083,27100085,1472,1522,1404,1466.0,59.0,1407.0,1525.0,1913.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100494,27100495,1111,1182,1076,1123.0,54.0,1069.0,1177.0,1444.3
400,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100495,27100496,1107,1176,1075,1119.0,52.0,1067.0,1171.0,1439.1
401,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100496,27100497,1109,1178,1056,1114.0,61.0,1053.0,1175.0,1441.7
402,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100497,27100498,1088,1155,1057,1100.0,50.0,1050.0,1150.0,1414.4
403,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100498,27100499,1087,1150,NaN,1118.0,45.0,1073.0,1163.0,1413.1

In [105]:
samples = samples.astype({'S1': float, 'mean': float, 'S1_norm': float})
samples.dtypes

chrom          object
exon_start     object
exon_end       object
gene           object
transcript     object
exon           object
cov_start      object
cov_end        object
S1_norm       float64
S2             object
S3             object
mean          float64
std           float64
mean-std      float64
mean+std      float64
S1            float64
dtype: object

In [225]:
samples['assay'] = samples['mean'] * 1.05
samples['assay-std'] = samples['mean-std'] * 1.05
samples['assay+std'] = samples['mean+std'] * 1.05

In [212]:
samples

,chrom,exon_start,exon_end,gene,transcript,exon,cov_start,cov_end,S1_norm,S2,S3,mean,std,mean-std,mean+std,S1
0,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100079,27100080,1453,1496,1373,1441.0,62.0,1379.0,1503.0,1888.9
1,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100080,27100081,1454,1504,1376,1445.0,65.0,1380.0,1510.0,1890.2
2,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100081,27100082,1463,1502,1384,1450.0,60.0,1390.0,1510.0,1901.9
3,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100082,27100083,1467,1517,1390,1458.0,64.0,1394.0,1522.0,1907.1
4,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100083,27100085,1472,1522,1404,1466.0,59.0,1407.0,1525.0,1913.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100494,27100495,1111,1182,1076,1123.0,54.0,1069.0,1177.0,1444.3
400,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100495,27100496,1107,1176,1075,1119.0,52.0,1067.0,1171.0,1439.1
401,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100496,27100497,1109,1178,1056,1114.0,61.0,1053.0,1175.0,1441.7
402,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100497,27100498,1088,1155,1057,1100.0,50.0,1050.0,1150.0,1414.4
403,chr10,27100079,27100499,ANKRD26,NM_014915.3,1,27100498,27100499,1087,1150,NaN,1118.0,45.0,1073.0,1163.0,1413.1

In [235]:


fig = go.Figure()


fig.add_trace(go.Scatter(x=samples['cov_start'], y=samples['assay-std'], hoverinfo='skip',
    mode='lines', name='assay -std dev',line=dict(color='rgba(197, 243, 243, 0.85)')))
fig.add_trace(go.Scatter(x=samples['cov_start'], y=samples['assay+std'], fillcolor='rgba(197, 243, 243, 0.85)', hoverinfo='skip',
    mode='lines', name='assay +std dev', fill='tonexty', line=dict(color='rgba(197, 243, 243, 1)')))
fig.add_trace(go.Scatter(x=samples['cov_start'], y=samples['assay'], mode='lines', name='assay mean', line=dict(color='skyblue')))


fig.add_trace(go.Scatter(x=samples['cov_start'], y=samples['mean-std'], hoverinfo='skip',
    mode='lines', name='run -std dev',line=dict(color='rgba(83, 230, 123, 0.5)')))
fig.add_trace(go.Scatter(x=samples['cov_start'], y=samples['mean+std'], fillcolor='rgba(83, 230, 123, 0.5)', hoverinfo='skip',
    mode='lines', name='run +std dev', fill='tonexty', line=dict(color='rgba(83, 230, 123, 0)')))


# fig.add_trace(go.Scatter(x=samples['cov_start'], y=samples['S1'], mode='lines', name='sample raw', line=dict(color='mediumturquoise')))
fig.add_trace(go.Scatter(x=samples['cov_start'], y=samples['S1_norm'], mode='lines', name='sample', line=dict(color='red')))
fig.add_trace(go.Scatter(x=samples['cov_start'], y=samples['mean'], mode='lines', name='run mean', line=dict(color='darkgreen')))
fig.add_trace(go.Scatter(x=[samples['cov_start'].tolist()[0], samples['cov_start'].tolist()[-1]], y=[250]*len(samples['cov_start']), line=dict(color='red'), hoverinfo='skip', mode="lines"))

fig.update_layout(hovermode="x unified")
fig.show()

In [206]:
df = pd.read_csv('/home/jethro/Projects/athena/test/annotated_beds/2302858-23074Z0010-1-BM-MPD-MYE-M-EGG2_S1_L001_markdup_annotated_bed.tsv.gz',names=column, sep='\t')

/tmp/ipykernel_429253/194208974.py:1: DtypeWarning:

Columns (1,2,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.

In [207]:
df

,chrom,exon_start,exon_end,gene,transcript,exon,cov_start,cov_end,cov
0,chrom,exon_start,exon_end,gene,transcript,exon,cov_start,cov_end,cov
1,chr1,1787325,1787442,GNB1,NM_002074.5,11,1787325,1787326,1680
2,chr1,1787325,1787442,GNB1,NM_002074.5,11,1787326,1787327,1712
3,chr1,1787325,1787442,GNB1,NM_002074.5,11,1787327,1787328,1722
4,chr1,1787325,1787442,GNB1,NM_002074.5,11,1787328,1787329,1727
...,...,...,...,...,...,...,...,...,...
224579,chrX,134425195,134425335,PHF6,NM_001015877.2,10,134425330,134425331,845
224580,chrX,134425195,134425335,PHF6,NM_001015877.2,10,134425331,134425332,834
224581,chrX,134425195,134425335,PHF6,NM_001015877.2,10,134425332,134425333,832
224582,chrX,134425195,134425335,PHF6,NM_001015877.2,10,134425333,134425334,830
224583,chrX,134425195,134425335,PHF6,NM_001015877.2,10,134425334,134425335,828

In [5]:
import os
import glob
from pathlib import Path

In [6]:
hsmetrics_paths = glob.glob('/home/jethro/Projects/athena/test/tri21/hs/*')
hsmetrics = []

for file in hsmetrics_paths:
    hsmetrics.append(Path(file).stem.replace('_markdup.hsmetrics', ''))

hsmetrics

['2303914-23104Z0083-2-BM-MPD-MYE-M-EGG2',
 '2303512-23093Z0108-2-BM-MPD-MYE-M-EGG2',
 '2303500-23093Z0084-2-BMT-OTH-MYE-F-EGG2',
 '2303667-23095Z0107-2-BM-MPD-MYE-M-EGG2',
 '2303062-23080Z0061-2-BM-MPD-MYE-M-EGG2',
 '2303859-23104Z0023-2-CL-EQA-MYE-U-EGG2',
 '2303561-23093Z0115-2-BM-MPD-MYE-M-EGG2',
 '2303860-23104Z0025-2-CL-EQA-MYE-U-EGG2',
 '2303204-23083Z0111-2-BM-MPD-MYE-F-EGG2',
 '2303176-23082Z0039-2-BM-MPD-MYE-M-EGG2',
 '2301806-23026Z0058-2-CP-MPD-MYE-M-EGG2',
 '2303523-23093Z0121-2-BM-MPD-MYE-F-EGG2',
 '2303614-23083Z0032-2-BM-MPD-MYE-F-EGG2',
 '2303383-23089Z0052-2-UNK-LYM-MYE-M-EGG2',
 '2303203-23083Z0119-2-PB-CLL-MYE-M-EGG2',
 '2303183-23083Z0044-2-PB-MDS-MYE-F-EGG2',
 '2303233-23086Z0092-2-BM-MPD-MYE-M-EGG2',
 'Oncospan-1778-1-AA1-BBB-MYE-U-EGG2',
 '2211998-22341Z0027-2-BM-ET-MYE-F-EGG2',
 '2303220-23074Z0084-2-DNAR-MPD-MYE-F-EGG2',
 '2303473-23090Z0076-2-BM-MPD-MYE-M-EGG2',
 '2303209-23083Z0098-2-BM-MPD-MYE-F-EGG2',
 '2303205-23083Z0110-2-BM-MPD-MYE-F-EGG2',
 '2303730-23101Z0035-2-BM-MPD-MYE-M-EGG2',
 '2303239-23086Z0080-2-BM-MPD-MYE-M-EGG2',
 '2303521-23093Z0119-2-BM-MPD-MYE-F-EGG2',
 '2303294-23087Z0106-2-PB-MPD-MYE-F-EGG2',
 '2303696-23096Z0113-2-BM-MPD-MYE-F-EGG2',
 '2303689-23096Z0057-2-BM-MPD-MYE-F-EGG2',
 '2303529-23090Z0070-2-BM-MPD-MYE-F-EGG2',
 '2303177-23082Z0070-2-BM-MPD-MYE-M-EGG2',
 '2303238-23086Z0077-2-BM-MPD-MYE-M-EGG2',
 '2303308-23088Z0006-2-PB-MPD-MYE-M-EGG2',
 '2303975-23108Z0034-2-OTH-HNP-MYE-M-EGG2',
 '2303297-23087Z0092-2-BM-MPD-MYE-M-EGG2',
 '2303242-23086Z0075-2-PB-MPD-MYE-F-EGG2',
 '2303225-23083Z0016-2-BM-MCL-MYE-F-EGG2',
 '2301759-23046Z0072-3-BM-MPD-MYE-F-EGG2',
 '2303206-23083Z0107-2-BM-MPD-MYE-F-EGG2',
 '2303553-23094Z0036-2-BM-MPD-MYE-M-EGG2',
 '2303237-23086Z0079-2-BM-MPD-MYE-F-EGG2',
 '2303522-23093Z0110-2-BM-MPD-MYE-F-EGG2',
 '2303207-23083Z0103-2-BM-MPD-MYE-M-EGG2',
 '2303821-23103Z0032-2-BM-MPD-MYE-F-EGG2',
 '2303576-23094Z0103-2-BM-MPD-MYE-M-EGG2',
 '2303229-23083Z0012-2-BM-MPD-MYE-M-EGG2']

In [7]:
bed_paths = glob.glob('/home/jethro/Projects/athena/test/tri21/beds/*')
beds = []

for file in bed_paths:
    beds.append(Path(file).stem.replace('_annotated.bed', ''))


print(beds)

['2303207-23083Z0103-2-BM-MPD-MYE-M-EGG2', '2303553-23094Z0036-2-BM-MPD-MYE-M-EGG2', '2303205-23083Z0110-2-BM-MPD-MYE-F-EGG2', '2303308-23088Z0006-2-PB-MPD-MYE-M-EGG2', '2301759-23046Z0072-3-BM-MPD-MYE-F-EGG2', '2303203-23083Z0119-2-PB-CLL-MYE-M-EGG2', '2303473-23090Z0076-2-BM-MPD-MYE-M-EGG2', '2303209-23083Z0098-2-BM-MPD-MYE-F-EGG2', '2303614-23083Z0032-2-BM-MPD-MYE-F-EGG2', '2303294-23087Z0106-2-PB-MPD-MYE-F-EGG2', '2211998-22341Z0027-2-BM-ET-MYE-F-EGG2', '2303860-23104Z0025-2-CL-EQA-MYE-U-EGG2', '2303242-23086Z0075-2-PB-MPD-MYE-F-EGG2', '2303561-23093Z0115-2-BM-MPD-MYE-M-EGG2', '2303176-23082Z0039-2-BM-MPD-MYE-M-EGG2', '2303730-23101Z0035-2-BM-MPD-MYE-M-EGG2', '2303914-23104Z0083-2-BM-MPD-MYE-M-EGG2', '2303204-23083Z0111-2-BM-MPD-MYE-F-EGG2', '2303521-23093Z0119-2-BM-MPD-MYE-F-EGG2', '2303183-23083Z0044-2-PB-MDS-MYE-F-EGG2', '2303233-23086Z0092-2-BM-MPD-MYE-M-EGG2', '2303229-23083Z0012-2-BM-MPD-MYE-M-EGG2', '2303220-23074Z0084-2-DNAR-MPD-MYE-F-EGG2', '2303225-23083Z0016-2-BM-MCL-MYE-F-EGG2', '2303975-23108Z0034-2-OTH-HNP-MYE-M-EGG2', '2303206-23083Z0107-2-BM-MPD-MYE-F-EGG2', '2303237-23086Z0079-2-BM-MPD-MYE-F-EGG2', '2303859-23104Z0023-2-CL-EQA-MYE-U-EGG2', '2303529-23090Z0070-2-BM-MPD-MYE-F-EGG2', '2303576-23094Z0103-2-BM-MPD-MYE-M-EGG2', '2303062-23080Z0061-2-BM-MPD-MYE-M-EGG2', '2303821-23103Z0032-2-BM-MPD-MYE-F-EGG2', '2303512-23093Z0108-2-BM-MPD-MYE-M-EGG2', '2303667-23095Z0107-2-BM-MPD-MYE-M-EGG2', 'Oncospan-1778-1-AA1-BBB-MYE-U-EGG2', '2303297-23087Z0092-2-BM-MPD-MYE-M-EGG2', '2303239-23086Z0080-2-BM-MPD-MYE-M-EGG2', '2303522-23093Z0110-2-BM-MPD-MYE-F-EGG2', '2303238-23086Z0077-2-BM-MPD-MYE-M-EGG2', '2303523-23093Z0121-2-BM-MPD-MYE-F-EGG2', '2303696-23096Z0113-2-BM-MPD-MYE-F-EGG2', '2301806-23026Z0058-2-CP-MPD-MYE-M-EGG2', '2303177-23082Z0070-2-BM-MPD-MYE-M-EGG2', '2303689-23096Z0057-2-BM-MPD-MYE-F-EGG2', '2303383-23089Z0052-2-UNK-LYM-MYE-M-EGG2']

In [45]:
import utils
import load

In [121]:
dfs = {}

for idx, bed in enumerate(bed_paths):
    column = [
            "chrom", "exon_start", "exon_end", "gene",
            "transcript", "exon", "cov_start", "cov_end", "cov"
        ]


    sample = pd.read_csv(bed,names=column, sep='\t', header=0, low_memory=False)

    sample = sample[sample['gene']=='RUNX1']
    sample = sample[sample['exon'] == 9]
    sample = sample.rename(columns={'cov': f'S{idx+1  }'})

    sample.reset_index(drop=True, inplace=True)   
    # print(sample)

    name = Path(bed).stem.replace('_annotated.bed', '')

    sample = utils.unbin(sample)

    dfs[name] = sample

In [122]:
hsmetrics_paths = glob.glob('/home/jethro/Projects/athena/test/tri21/hs/*')
hsmetrics = {}

for file in hsmetrics_paths:
    name = Path(file).stem.replace('_markdup.hsmetrics', '')

    df = load.LoadData().read_hsmetrics(file)
    df.columns = df.iloc[0].tolist()
    df.reset_index(inplace=True, drop=True)
    df.drop(index=df.index[0], axis=0, inplace=True)
    hsmetrics[name] = df

In [123]:
all_hsmetrics = pd.concat(hsmetrics.values())
all_hsmetrics
all_hsmetrics = all_hsmetrics.astype({'ON_TARGET_BASES': int, 'PCT_USABLE_BASES_ON_TARGET': float, 'TOTAL_READS': int})
# normalisation_value = (all_hsmetrics['ON_TARGET_BASES'] *\
#                  all_hsmetrics['PCT_USABLE_BASES_ON_TARGET']).sum()
normalisation_value = all_hsmetrics['TOTAL_READS'].sum()

In [124]:
count = 1

all_dfs = None
all_dfs = list(dfs.values())[0].drop(['S1'], axis=1)


for name, bed in dfs.items():
    # print(df)
    # bases = hsmetrics[name]['ON_TARGET_BASES']
    # pct = hsmetrics[name]['PCT_USABLE_BASES_ON_TARGET']
    
    df = bed.copy()
    hsmetrics[name] = hsmetrics[name].astype({
            'ON_TARGET_BASES': int,
            'PCT_USABLE_BASES_ON_TARGET': float,
            'TOTAL_READS': int
        })

    # sample_bases = (
    #         hsmetrics[name]['ON_TARGET_BASES'] * hsmetrics[name]['PCT_USABLE_BASES_ON_TARGET']
    #     ).iloc[0] / normalisation_value

    sample_bases = hsmetrics[name]['TOTAL_READS'].iloc[0] / normalisation_value

    df[f'S{count}_norm'] = df[f"S{count}"] * sample_bases

    all_dfs[f"S{count}"] = df[f"S{count}"]
    all_dfs[f'S{count}_norm'] = df[f'S{count}_norm']

    # print(name)
    # print(df[f'S{count}'].mean())
    # print(df[f'S{count}_norm'].mean())
    # print(' ')
    count += 1

print(all_dfs)

    chrom  exon_start  exon_end   gene   transcript  exon  position    S1  \
0      21    34792129  34792615  RUNX1  NM_001754.5     9  34792129  1612
1      21    34792129  34792615  RUNX1  NM_001754.5     9  34792130  1625
2      21    34792129  34792615  RUNX1  NM_001754.5     9  34792131  1642
3      21    34792129  34792615  RUNX1  NM_001754.5     9  34792132  1659
4      21    34792129  34792615  RUNX1  NM_001754.5     9  34792133  1683
..    ...         ...       ...    ...          ...   ...       ...   ...
481    21    34792129  34792615  RUNX1  NM_001754.5     9  34792610  1812
482    21    34792129  34792615  RUNX1  NM_001754.5     9  34792611  1806
483    21    34792129  34792615  RUNX1  NM_001754.5     9  34792612  1802
484    21    34792129  34792615  RUNX1  NM_001754.5     9  34792613  1796
485    21    34792129  34792615  RUNX1  NM_001754.5     9  34792614  1788

       S1_norm    S2  ...   S41   S41_norm   S42   S42_norm   S43   S43_norm  \
0    31.233663  1417  ...  1668  43.542817  1706  33.793139  1650  35.857915
1    31.485547  1433  ...  1678  43.803865  1720  34.070457  1671  36.314289
2    31.814935  1454  ...  1700  44.378171  1739  34.446817  1691  36.748930
3    32.144322  1477  ...  1728  45.109106  1766  34.981643  1714  37.248768
4    32.609339  1494  ...  1755  45.813935  1780  35.258961  1734  37.683409
..         ...   ...  ...   ...        ...   ...        ...   ...        ...
481  35.108807  1508  ...  1946  50.799953  1989  39.398918  1934  42.029823
482  34.992553  1492  ...  1937  50.565010  1956  38.745240  1925  41.834234
483  34.915050  1489  ...  1934  50.486696  1954  38.705624  1921  41.747306
484  34.798796  1482  ...  1929  50.356172  1945  38.527348  1919  41.703842
485  34.643790  1464  ...  1905  49.729656  1906  37.754820  1895  41.182272

      S44   S44_norm  S45   S45_norm
0    1330  32.167859  589   9.411664
1    1339  32.385536  599   9.571454
2    1356  32.796704  611   9.763203
3    1381  33.401363  619   9.891035
4    1399  33.836717  628  10.034847
..    ...        ...  ...        ...
481  1447  34.997663  754  12.048208
482  1440  34.828358  746  11.920375
483  1436  34.731613  742  11.856459
484  1437  34.755799  737  11.776564
485  1420  34.344631  726  11.600794

[486 rows x 97 columns]

In [130]:
samples = [f"S{x}" for x in range(1,46)]
all_dfs['mean'] = all_dfs[samples].mean(axis=1).round()
all_dfs['std'] = all_dfs[samples].std(axis=1).round()
all_dfs['3std'] = all_dfs['std'] * 3
all_dfs['mean-3std'] = all_dfs['mean'] - all_dfs['3std']
all_dfs['mean+3std'] = all_dfs['mean'] + all_dfs['3std']

In [132]:
samples = [f"S{x}_norm" for x in range(1,46)]
all_dfs['mean_norm'] = all_dfs[samples].mean(axis=1).round()
all_dfs['std_norm'] = all_dfs[samples].std(axis=1).round()
all_dfs['3std_norm'] = all_dfs['std_norm'] * 3
all_dfs['mean-3std_norm'] = all_dfs['mean_norm'] - all_dfs['3std_norm']
all_dfs['mean+3std_norm'] = all_dfs['mean_norm'] + all_dfs['3std_norm']

In [133]:
# norm plot
fig = go.Figure()

fig.add_trace(go.Scatter(x=all_dfs['position'], y=all_dfs['mean-3std_norm'], hoverinfo='skip',
    mode='lines', name='-3 std dev',line=dict(color='rgba(197, 243, 243, 0.85)')))
fig.add_trace(go.Scatter(x=all_dfs['position'], y=all_dfs['mean+3std_norm'], fillcolor='rgba(197, 243, 243, 0.85)', hoverinfo='skip',
    mode='lines', name='+3 std dev', fill='tonexty', line=dict(color='rgba(197, 243, 243, 1)')))
fig.add_trace(go.Scatter(x=all_dfs['position'], y=all_dfs['mean_norm'], mode='lines', name='mean', line=dict(color='skyblue')))



for val in range(1, 46):

    fig.add_trace(
        go.Scatter(
            x=all_dfs['position'], y=all_dfs[f'S{val}_norm'],
            mode='lines', name=f'S{val}'))



fig.update_layout()
fig.show()

In [134]:
fig = go.Figure()

fig.add_trace(go.Scatter(x=all_dfs['position'], y=all_dfs['mean-3std'], hoverinfo='skip',
    mode='lines', name='-3 std dev',line=dict(color='rgba(197, 243, 243, 0.85)')))
fig.add_trace(go.Scatter(x=all_dfs['position'], y=all_dfs['mean+3std'], fillcolor='rgba(197, 243, 243, 0.85)', hoverinfo='skip',
    mode='lines', name='+3 std dev', fill='tonexty', line=dict(color='rgba(197, 243, 243, 1)')))
fig.add_trace(go.Scatter(x=all_dfs['position'], y=all_dfs['mean'], mode='lines', name='mean', line=dict(color='skyblue')))


for val in range(1, 46):
    fig.add_trace(
        go.Scatter(
            x=all_dfs['position'], y=all_dfs[f'S{val}'],
            mode='lines', name=f'S{val}'))


fig.update_layout()
fig.show()

In [119]:
for i, sample in enumerate(dfs.keys()):
    print(i+1, sample)

1 2303207-23083Z0103-2-BM-MPD-MYE-M-EGG2
2 2303553-23094Z0036-2-BM-MPD-MYE-M-EGG2
3 2303205-23083Z0110-2-BM-MPD-MYE-F-EGG2
4 2303308-23088Z0006-2-PB-MPD-MYE-M-EGG2
5 2301759-23046Z0072-3-BM-MPD-MYE-F-EGG2
6 2303203-23083Z0119-2-PB-CLL-MYE-M-EGG2
7 2303473-23090Z0076-2-BM-MPD-MYE-M-EGG2
8 2303209-23083Z0098-2-BM-MPD-MYE-F-EGG2
9 2303614-23083Z0032-2-BM-MPD-MYE-F-EGG2
10 2303294-23087Z0106-2-PB-MPD-MYE-F-EGG2
11 2211998-22341Z0027-2-BM-ET-MYE-F-EGG2
12 2303860-23104Z0025-2-CL-EQA-MYE-U-EGG2
13 2303242-23086Z0075-2-PB-MPD-MYE-F-EGG2
14 2303561-23093Z0115-2-BM-MPD-MYE-M-EGG2
15 2303176-23082Z0039-2-BM-MPD-MYE-M-EGG2
16 2303730-23101Z0035-2-BM-MPD-MYE-M-EGG2
17 2303914-23104Z0083-2-BM-MPD-MYE-M-EGG2
18 2303204-23083Z0111-2-BM-MPD-MYE-F-EGG2
19 2303521-23093Z0119-2-BM-MPD-MYE-F-EGG2
20 2303183-23083Z0044-2-PB-MDS-MYE-F-EGG2
21 2303233-23086Z0092-2-BM-MPD-MYE-M-EGG2
22 2303229-23083Z0012-2-BM-MPD-MYE-M-EGG2
23 2303220-23074Z0084-2-DNAR-MPD-MYE-F-EGG2
24 2303225-23083Z0016-2-BM-MCL-MYE-F-EGG2
25 2303975-23108Z0034-2-OTH-HNP-MYE-M-EGG2
26 2303206-23083Z0107-2-BM-MPD-MYE-F-EGG2
27 2303237-23086Z0079-2-BM-MPD-MYE-F-EGG2
28 2303859-23104Z0023-2-CL-EQA-MYE-U-EGG2
29 2303529-23090Z0070-2-BM-MPD-MYE-F-EGG2
30 2303576-23094Z0103-2-BM-MPD-MYE-M-EGG2
31 2303062-23080Z0061-2-BM-MPD-MYE-M-EGG2
32 2303821-23103Z0032-2-BM-MPD-MYE-F-EGG2
33 2303512-23093Z0108-2-BM-MPD-MYE-M-EGG2
34 2303667-23095Z0107-2-BM-MPD-MYE-M-EGG2
35 Oncospan-1778-1-AA1-BBB-MYE-U-EGG2
36 2303297-23087Z0092-2-BM-MPD-MYE-M-EGG2
37 2303239-23086Z0080-2-BM-MPD-MYE-M-EGG2
38 2303522-23093Z0110-2-BM-MPD-MYE-F-EGG2
39 2303238-23086Z0077-2-BM-MPD-MYE-M-EGG2
40 2303523-23093Z0121-2-BM-MPD-MYE-F-EGG2
41 2303696-23096Z0113-2-BM-MPD-MYE-F-EGG2
42 2301806-23026Z0058-2-CP-MPD-MYE-M-EGG2
43 2303177-23082Z0070-2-BM-MPD-MYE-M-EGG2
44 2303689-23096Z0057-2-BM-MPD-MYE-F-EGG2
45 2303383-23089Z0052-2-UNK-LYM-MYE-M-EGG2

In [135]:
def is_numeric(value:str) -> bool:
    """
    """
    if not value:
        return value
    try:
        if str(value)[0] == '0' and len(value) > 1 and not str(value)[1] == '.':
            # catch things such as 01 which aren't real numbers
            return value
    except Exception:
        # could raise lots of errors (i.e IndexErrors from slicing)
        # lazily catch all and continue
        return value

    try:
        float(value)
        return True
    except ValueError:
        return value
    
    # it can float, check if it's an int or float
    if '.' in str(value):
        return float(value)
    else:
        return int(value)

In [139]:
l = ['0', '0.1', '01', None, 'test', 0, 0.1]

for val in l:
    v = is_numeric(val)
    print(v, type(v))

0 <class 'str'>
True <class 'bool'>
01 <class 'str'>
None <class 'NoneType'>
test <class 'str'>
0 <class 'int'>
True <class 'bool'>